*{
    margin:0px;
    padding:0px;
}
table,td{
    border:3px solid white;
    background:whitesmoke;
}
table,td{
    border-collapse:collapse;
}
td{
    width:200px;
    height:100px;
    text-align:center;
}
input{
    width:100px;
    height:30px;
}
.select-tip{
    width:100px;
    height:30px;
}
.key{
    border:1px solid #ccc;
}
